[Unit]
Description=Zookeeper Presence
BindTo=zookeeper@%i.service
After=zookeeper@%i.service

[Service]
Type=simple
Restart=always
RestartSec=30

EnvironmentFile=/etc/environment

Environment="ENV=drewfus"
Environment="CLUSTER=dev"

Environment="ZOOKEEPER_CLIENT_PORT=2181"
Environment="ZOOKEEPER_LEADER_PORT=2888"
Environment="ZOOKEEPER_LEADER_ELECTION_PORT=3888"

ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/${ENV}/${CLUSTER}/zookeeper-%i:\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/${ENV}/${CLUSTER}/zookeeper-%i \
 "{\"host\":\"%m.hosts.${CLUSTER}.${ENV}.local\",\
   \"port\":${ZOOKEEPER_CLIENT_PORT}}"
ExecStartPre=/usr/bin/etcdctl get /skydns/local/${ENV}/${CLUSTER}/zookeeper-%i

ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/${ENV}/${CLUSTER}/zookeeper/%i:\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/${ENV}/${CLUSTER}/zookeeper/%i \
 "{\"host\":\"%m.hosts.${CLUSTER}.${ENV}.local\",\
   \"port\":${ZOOKEEPER_CLIENT_PORT}}"
ExecStartPre=/usr/bin/etcdctl get /skydns/local/${ENV}/${CLUSTER}/zookeeper/%i

ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/${ENV}/${CLUSTER}/_tcp/_zookeeper/%i:\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/${ENV}/${CLUSTER}/_tcp/_zookeeper/%i \
 "{\"host\":\"zookeeper-%i.${CLUSTER}.${ENV}.local\",\
   \"port\":${ZOOKEEPER_CLIENT_PORT}}"
ExecStartPre=/usr/bin/etcdctl get /skydns/local/${ENV}/${CLUSTER}/_tcp/_zookeeper/%i:\n"

ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/${ENV}/${CLUSTER}/_tcp/_zookeeper-leader/%i:\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/${ENV}/${CLUSTER}/_tcp/_zookeeper-leader/%i \
 "{\"host\":\"zookeeper-%i.${CLUSTER}.${ENV}.local\",\
   \"port\":${ZOOKEEPER_LEADER_PORT}}"
ExecStartPre=/usr/bin/etcdctl get /skydns/local/${ENV}/${CLUSTER}/_tcp/_zookeeper-leader/%i

ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/${ENV}/${CLUSTER}/_tcp/_zookeeper-leader-election/%i:\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/${ENV}/${CLUSTER}/_tcp/_zookeeper-leader-election/%i \
 "{\"host\":\"zookeeper-%i.${CLUSTER}.${ENV}.local\",\
   \"port\":${ZOOKEEPER_LEADER_ELECTION_PORT}}"

ExecStart=/usr/bin/printf "finished %p announcements\n"

# zookeeper-1.dev.drewfus.local
# 1.zookeeper.dev.drewfus.local
# zookeeper.dev.drewfus.local -> round-robin
# _zookeeper._tcp.dev.drewfus.local 2181
# _zookeeper-leader._tcp.dev.drewfus.local 2888
# _zookeeper-leader-election._tcp.dev.drewfus.local 3888

[X-Fleet]
MachineOf=zookeeper@%i.service
