[Unit]
Description=Zookeeper Presence
BindTo=zookeeper@%i.service
After=zookeeper@%i.service
After=etcd.service
After=baseconfig.service

[Service]
Type=simple
Restart=always
RestartSec=30

EnvironmentFile=/etc/environment
EnvironmentFile=/etc/cluster-environment

Environment="ZOOKEEPER_CLIENT_PORT=2181"

ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/${ENV}/${CLUSTER}/zookeeper-%i:\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/${ENV}/${CLUSTER}/zookeeper-%i \
 "{\"host\":\"%m.hosts.${CLUSTER}.${ENV}.local\",\
   \"port\":${ZOOKEEPER_CLIENT_PORT}}"
ExecStartPre=/usr/bin/etcdctl get /skydns/local/${ENV}/${CLUSTER}/zookeeper-%i

ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/${ENV}/${CLUSTER}/zookeeper/%i:\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/${ENV}/${CLUSTER}/zookeeper/%i \
 "{\"host\":\"%m.hosts.${CLUSTER}.${ENV}.local\",\
   \"port\":${ZOOKEEPER_CLIENT_PORT}}"
ExecStartPre=/usr/bin/etcdctl get /skydns/local/${ENV}/${CLUSTER}/zookeeper/%i

ExecStart=/usr/bin/printf "finished %p announcements\n"

[X-Fleet]
MachineOf=zookeeper@%i.service
