[Unit]
Description=Private docker repository
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill private-docker-registry
ExecStartPre=-/usr/bin/docker rm private-docker-registry
ExecStartPre=/usr/bin/docker pull colegleason/docker-private-registry
ExecStart=/usr/bin/docker run --name private-docker-registry -e ETCD_ENDPOINT=172.17.8.101:4001 -p 5000:5000 colegleason/docker-private-registry
ExecStop=/usr/bin/docker stop private-docker-registry docker-registry