[Unit]
Description=SkyDNS
After=docker.service
After=etcd.service
Requires=docker.service
Requires=etcd.service

[Service]
EnvironmentFile=/etc/environment

Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
TimeoutStartSec=1200
TimeoutStopSec=15

ExecStartPre=/usr/bin/docker run --rm -v /opt/bin:/opt/bin ibuildthecloud/systemd-docker
ExecStartPre=/usr/bin/docker pull andrewrothstein/skydns

ExecStart=/opt/bin/systemd-docker run --rm --name %p \
 -e "ETCD_MACHINES=http://${COREOS_PRIVATE_IPV4}:4001" \
 -p 53:53 \
 andrewrothstein/skydns

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=skydns@*.service
