[Unit]
Description=SkyDNS

After=docker.service
Requires=docker.service

After=etcd2.service
Requires=etcd2.service

After=baseconfig.service
Requires=baseconfig.service

[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/cluster-environment

Type=notify
NotifyAccess=all

Restart=always
RestartSec=10s

TimeoutStartSec=0
TimeoutStopSec=15

# pull app docker image
ExecStartPre=-/usr/bin/docker pull skynetservices/skydns:latest

ExecStartPre=/usr/bin/etcdctl set \
 /skydns/local/${ENV}/${CLUSTER}/hosts/%m \
 '{\"host\":\"${COREOS_PRIVATE_IPV4}\"}'

ExecStart=/opt/bin/systemd-docker run \
 --rm \
 --name %p \
 -p ${COREOS_PRIVATE_IPV4}:53:53/tcp \
 -p ${COREOS_PRIVATE_IPV4}:53:53/udp \
 -e ETCD_MACHINES=http://${COREOS_PRIVATE_IPV4}:4001 \
 -e SKYDNS_DOMAIN=${CLUSTER}.${ENV}.local \
 skynetservices/skydns:latest \
 -addr 0.0.0.0:53 \
 -local "%m.hosts.${CLUSTER}.${ENV}.local"

# boy scouts clean up the camp site
ExecStopPost=/usr/bin/etcdctl rm \
 /skydns/local/${ENV}/${CLUSTER}/hosts/%m

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
