[Unit]
Description=SkyDNS
After=docker.service
After=etcd.service
Requires=docker.service
Requires=etcd.service

[Service]
EnvironmentFile=/etc/environment

Environment="ENV=drewfus"
Environment="CLUSTER=dev"

Type=notify
NotifyAccess=all

Restart=always
RestartSec=10s

TimeoutStartSec=0
TimeoutStopSec=15

# pull app docker image
ExecStartPre=/usr/bin/docker pull andrewrothstein/skydns

# install systemd-docker
ExecStartPre=/usr/bin/docker run --rm -v /opt/bin:/opt/bin ibuildthecloud/systemd-docker

ExecStartPre=/usr/bin/etcdctl set \
 /skydns/local/${ENV}/${CLUSTER}/hosts/%m \
 '{\"host\":\"${COREOS_PRIVATE_IPV4}\"}'

ExecStart=/opt/bin/systemd-docker run \
 --rm \
 --name %p \
 -p ${COREOS_PRIVATE_IPV4}:53:53/tcp \
 -p ${COREOS_PRIVATE_IPV4}:53:53/udp \
 -e ETCD_MACHINES=http://${COREOS_PRIVATE_IPV4}:4001 \
 -e SKYDNS_DOMAIN=${CLUSTER}.${ENV}.local \
andrewrothstein/skydns \
 -addr 0.0.0.0:53 \
 -local "%m.hosts.${CLUSTER}.${ENV}.local"

# boy scouts clean up the camp site
ExecStopPost=/usr/bin/etcdctl rm \
 /skydns/local/${ENV}/${CLUSTER}/hosts/%m

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
