[Unit]
Description=ElasticSearch service
After=docker.service
After=etcd.service
After=skydns.service
Requires=docker.service
Requires=etcd.service
Requires=skydns.service

[Service]
EnvironmentFile=/etc/environment

Environment="ENV=drewfus"
Environment="CLUSTER=dev"

Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
TimeoutStartSec=1200
TimeoutStopSec=15

ExecStartPre=/usr/bin/mkdir -p /data/elasticsearch
ExecStartPre=/usr/bin/docker run --rm -v /opt/bin:/opt/bin ibuildthecloud/systemd-docker
ExecStartPre=/usr/bin/docker pull andrewrothstein/docker-elasticsearch

ExecStart=/opt/bin/systemd-docker run \
  --name %p-%i \
  --publish 9200:9200 \
  --publish 9300:9300 \
  --volume /data/elasticsearch:/data \
  andrewrothstein/docker-elasticsearch \
  /elasticsearch/bin/elasticsearch \
  --node.name=%p-%i \
  --cluster.name=escluster \
  --network.publish_host=${COREOS_PRIVATE_IPV4} \
  --discovery.zen.ping.multicast.enabled=false \
  --discovery.zen.ping.unicast.hosts=elasticsearch-1.dev.drewfus.local:9200,elasticearch-2.dev.drewfus.local,elasticsearch-3.dev.drewfus.local

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-Conflicts=%p@*.service