[Unit]
Description=ElasticSearch discovery service
BindsTo=elasticsearch@%i.service
After=elasticsearch@%i.service
After=etcd.service
After=skydns.service
Requires=etcd.service
Requires=skydns.service

[Service]
EnvironmentFile=/etc/environment

Environment="ENV=drewfus"
Environment="CLUSTER=dev"

Environment="ELASTICSEARCH_CLIENT_PORT=9200"

ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/${ENV}/${CLUSTER}/elasticsearch-%i:\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/${ENV}/${CLUSTER}/elasticsearch-%i \
 "{\"host\":\"%m.hosts.${CLUSTER}.${ENV}.local\",\
   \"port\":${ELASTICSEARCH_CLIENT_PORT}}"
ExecStartPre=/usr/bin/etcdctl get /skydns/local/${ENV}/${CLUSTER}/elasticsearch-%i

ExecStartPre=/usr/bin/printf "Announcing: /skydns/local/${ENV}/${CLUSTER}/elasticsearch/%i:\n"
ExecStartPre=/usr/bin/etcdctl set --ttl 60 /skydns/local/${ENV}/${CLUSTER}/elasticsearch/%i \
 "{\"host\":\"%m.hosts.${CLUSTER}.${ENV}.local\",\
   \"port\":${ELASTICSEARCH_CLIENT_PORT}}"
ExecStartPre=/usr/bin/etcdctl get /skydns/local/${ENV}/${CLUSTER}/elasticsearch/%i

ExecStart=/usr/bin/printf "finished %p announcements\n"

[X-Fleet]
X-ConditionMachineOf=elasticsearch@%i.service
