[Unit]
Description=kafka
After=docker.service
After=skydns.service

Requires=docker.service
Requires=skydns.service

[Service]
EnvironmentFile=/etc/environment
Environment="ENV=drewfus"
Environment="CLUSTER=dev"
Environment="KAFKA_LOG_DIR=/data/kafka/log"

Type=notify

Restart=always
RestartSec=10s

TimeoutStartSec=0
TimeoutStopSec=15

# configure host storage directory
ExecStartPre=/usr/bin/mkdir -p ${KAFKA_LOG_DIR}

# pull app docker image
ExecStartPre=-/usr/bin/docker pull andrewrothstein/docker-kafka

# pull app docker image
ExecStartPre=-/usr/bin/docker pull andrewrothstein/docker-kafka:latest
ExecStartPre=-/usr/bin/docker pull andrewrothstein/docker-zookeeper:latest

# install systemd-docker
ExecStartPre=/usr/bin/docker run --rm -v /opt/bin:/opt/bin ibuildthecloud/systemd-docker

# make the ZK location...wish kafka would do this for me!
ExecStartPre=/opt/bin/systemd-docker run --rm \
 --dns=${COREOS_PRIVATE_IPV4} \
 --dns-search=${CLUSTER}.${ENV}.local \
 andrewrothstein/docker-zookeeper \
 /opt/zookeeper/bin/zkCli.sh \
  -z zookeeper.${CLUSTER}.${ENV}.local:2818 \
  -cmd "makepath /kafka/${CLUSTER}/${ENV}"

# bombs away
ExecStart=/opt/bin/systemd-docker run --rm \
 --name kafka-broker-%i \
 --hostname=%p-%i.${CLUSTER}.${ENV}.local \
 --publish ${COREOS_PRIVATE_IPV4}:9092:9092 \
 --volume ${KAFKA_LOG_DIR}:${KAFKA_LOG_DIR} \
 --env KAFKA_BROKER_ID=%i \
 --env KAFKA_LOG_DIRS=${KAFKA_LOG_DIR} \
 --env KAFKA_ZK=zookeeper.${CLUSTER}.${ENV}.local:2181/kafka/${CLUSTER}/${ENV} \
 --dns=${COREOS_PRIVATE_IPV4} \
 --dns-search=${CLUSTER}.${ENV}.local \
 andrewrothstein/docker-kafka
