[Unit]
Description=Mesos Slave
After=skydns.service
After=docker.servicee
After=mesos-master.service
Requires=skydns.service
Requires=docker.service
Requires=mesos-master.service

[Service]
EnvironmentFile=/etc/environment
Environment=ENV=drewfus
Environment=CLUSTER=dev

Type=notify
NotifyAccess=all

Restart=always
RestartSec=10s

TimeoutStartSec=0
TimeoutStopSec=15

# configure host storage directory
ExecStartPre=/usr/bin/mkdir -p /data/mesos-slave/${CLUSTER}/${ENV}/{work,log}

# pull app docker image
ExecStartPre=/usr/bin/docker pull andrewrothstein/docker-mesos

# install systemd-docker
ExecStartPre=/usr/bin/docker run --rm -v /opt/bin:/opt/bin ibuildthecloud/systemd-docker

# Assumes mesos-master is deployed globally as well
ExecStart=/opt/bin/systemd-docker run --rm \
 --name mesos-slave \
 --publish 5051:5051 \
 --dns=${COREOS_PRIVATE_IPV4} \
 --dns-search=${CLUSTER}.${ENV}.local \
 andrewrothstein/docker-mesos mesos-slave \
  --work_dir=/data/mesos-slave/${CLUSTER}/${ENV}/work \
  --log_dir=/data/mesos-slave/${CLUSTER}/${ENV}/log \
  --master=localhost:5050

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
